<div class="container text-center">

  <h2>Sign up here</h2>

  <% if @user.errors.any? %><br>

    <%= pluralize(@user.errors.count, 'error')%><br>

    <ul>
  	   <% @user.errors.full_messages.each do |message| %>
  	     <li><%= message %></li>
  	   <% end %>
    </ul>

  <% end %>



  <%= form_for @user do |f| %>

    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>

    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>

    <%= f.submit %>

  <% end %>

</div>
