<h3>Username: <%= @user.username %></h3>
<h4>Email: <%= @user.email %></h4><br>


<% if @user.id == current_user.id %>
  <div>
    <%= button_to('Upload Picture', '/pictures/new', method: 'get') %><br>
    <!-- <%= button_to('Logout', 'sessions#destroy', method: 'puts') %> -->
  </div><br>
<% end %>


<h3>Pictures</h3>

<% if @user.pictures.empty? %>
  <%= "User doesn't have any pictures" %>
<% else %>
  <% @user.pictures.each do |picture|  %>
    <h3 class="deco-none"><%= link_to picture.title, picture %></h3>
    <a href="/pictures/<%=picture.id%>"><img src="<%= picture.image_url %>" alt="<%= picture.title %>" style=" height: 300px; padding:10px;"></a>
  <% end %>
<% end %>

    <%= button_to('Back', '/users', method: 'get') %>
